{% extends "layout.twig" %}

{% block content%}
  <form action="/platzi/users/add" method="post">
    <h1>Add User</h1>
    {{responseMessage}}</br>
    <label for="">Email:</label>
    <input type="text" name="email"/>
    </br>
    <label for="">Password:</label>
    <input type="password" name ="password"/>
    <br>
    <button type="submit">Save</button>
  </form>
{% endblock %}